<!doctype html>

<html>
<head>
  <script type="text/javascript" href = "routes.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" href = "rssParserSub.js"></script>
</head>

<body>
<h1> yay it worked! </h1>
<p id = "theWord">
{{ word }}
</p>
<script>
console.log("running");

google.load("feeds", "1");

function topicHeadlines(topic) {
    
    var searchTopic = topic;
    var theLinks = [];
    var theHeadlines = [];
    //================
    function removeBold(aString) {
    aString = aString.replace('<b>','');
    aString = aString.replace('</b>','');
    aString = aString.replace('<b>','');
    aString = aString.replace('</b>','');
    aString = aString.replace('<b>','');
    aString = aString.replace('</b>','');
    aString = aString.replace('<b>','');
    aString = aString.replace('</b>','');
    
    aString = aString.replace('&#39;', "'");
    aString = aString.replace('&#39;', "'");
    aString = aString.replace('&#39;', "'");
    aString = aString.replace('&#39;', "'");

    aString = aString.replace('&amp;', '&');

    aString = aString.replace(' ...','');
    aString = aString.replace('...','');
    aString = aString.replace(' . . .', '');

    aString = aString.replace(' - The New York Times', '');
    aString = aString.replace(' - New York Times', '');
    aString = aString.replace(' - The New York', '');
    aString = aString.replace(' - New York', '');
    aString = aString.replace(' - New', '');
    aString = aString.replace(' - NYTimes', '');
    aString = aString.replace('.com', '');

    return aString;
  }

  function OnLoad() {
    // Query for president feeds on cnn.com
    var query = 'site:http://www.nytimes.com/' + ' ' + searchTopic;
    google.feeds.findFeeds(query, findDone);
  }

  function findDone(result) {
    // Make sure we didn't get an error.
    if (!result.error) {
      // Get content div
      var content = document.getElementById('title');
      var html = '';

      // Loop through the results and print out the title of the feed and link to
      // the url.
      for (var i = 0; i < result.entries.length; i++) {
        var entry = result.entries[i];
        theLinks[i] = entry.link;
        theHeadlines[i] = removeBold(entry.title);
        console.log(theHeadlines[i]);

      }
    }
  }



google.setOnLoadCallback(OnLoad);

return [theHeadlines,theLinks]

}

var x = document.getElementById("theWord").innerHTML;
</script>
<script>
console.log(x);
topicHeadlines(x);
</script>

<script>
</script>
</body>
</html>